ol{
    color: black;
    text-align: center;
    font-family: Fugaz system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: x-large;
    background-color: orange;
    font-weight: bolder;
}
a{
    margin: 20px;
    color: black;
    text-decoration: none;
}
.Imagenes,.MenuPrincipal{
    display: flex;
    justify-content: space-evenly;
    gap:100px;
}
h1,h2,h3{
    font-family: Fugaz system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:orange;
    text-shadow: 2px  0px 0px black,
                 0px  2px 0px black,
                -2px  0px 0px black,
                 0px -2px 0px black;
    text-align: center; 
}
p{
    font-family: Fugaz system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bolder;
}
footer{
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bolder;
}